aiohttp==3.5.4
async-timeout==3.0.1
attrs==19.2.0
backcall==0.1.0
certifi==2020.4.5.1
chardet==3.0.4
decorator==4.4.0
discord==1.0.1
discord.py==1.2.5
Django==2.2.6
django-multi-captcha-admin==1.0.0
django-ordered-model==3.3.0
django-recaptcha2==1.4.1
django-timezone-field==3.1
idna==2.8
ipython==7.8.0
ipython-genutils==0.2.0
jedi==0.15.1
multidict==4.5.2
parso==0.5.1
pexpect==4.7.0
pickleshare==0.7.5
prompt-toolkit==2.0.10
psycopg2==2.8.3
ptyprocess==0.6.0
Pygments==2.4.2
python-dotenv==0.10.3
pytz==2019.3
requests==2.23.0
six==1.12.0
sqlparse==0.3.0
traitlets==4.3.3
urllib3==1.25.8
wcwidth==0.1.7
websockets==6.0
uwsgi>=2.0,<2.1
yarl==1.3.0
