<!doctype html>
<html lang="en">
  {% load static %}
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="{% static 'css/theme.css' %}">
	<link rel="stylesheet" href="{% static 'css/custom.css' %}">

    <title>Standup - {% block title %}Discord StandupBot{% endblock %}</title>
  </head>
  <body>

     <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
     {% if token %}
     <a class="navbar-brand" href="{% url 'private_home' token=token %}">Standup</a>
     {% else %}
     <a class="navbar-brand" href="/">Standup</a>
     {% endif %}
   </nav>
	
    <main role="main" class="container">
	{% block content %}
	{% endblock %}
	</main>
  </body>
</html>
