{% extends 'base.html' %}
{% block title %}All public standups{% endblock %}
{% block content %}

<h1>All public standups{% if channel %} for #{{channel.slug}} ({{channel.server.name}}){% endif %}</h1>
<div class="row">
    <div class="col-12 col-md-3">
        <ul>
            <li><a href="{{request.path}}">All</a></li>
            {% for channel, server in channels %}
            <li><a href="?channel={{channel}}&server={{server}}">#{{channel}}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-12 col-md-9">
        {% for standup in standups %}
        <p>
            <a href="{{standup.get_public_url}}">#{{standup.event.channel.name}} - {{standup.event.standup_type.name}}</a><br>
            {{standup.standup_date|date:"l M d\t\h, Y"}} - {{standup.participants.active.count}} participants
        </p>
        {% endfor %}
    </div>
</div>

<div class="row pagination">
    <div class="col-sm-6">
        {% if page_obj.has_previous %}<a href="?page={{page_obj.previous_page_number}}">Previous page</a>{% endif %}
    </div>
    <div class="col-sm-6" style="text-align: right;">
        {% if page_obj.has_next %}<a href="?page={{page_obj.next_page_number}}">Next page</a>{% endif %}
    </div>
</div>

{% endblock %}
